@page "/counter"

@using CFilzenMain.Models;

<h1>Golf Score</h1>

@*<EditForm Model="@personModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <HxInputText Label="First Name" @bind-Value="@personModel.FirstName" Placeholder="First Name" />
    <HxInputText Label="Last Name" @bind-Value="@personModel.LastName" Placeholder="Last Name" />
    <HxInputText Label="Email" @bind-Value="@personModel.Email" Placeholder="Email" />
    <HxInputTextArea Label="Comment" @bind-Value="@personModel.Comment" Placeholder="Tell me what is on your mind."/>
    @*<HxFormValue Label="Name Entered" Value="@personModel.Name" />
	<HxSubmit Color="ThemeColor.Primary">Submit</HxSubmit>
</EditForm>*@

@code {
    private PersonModel personModel = new PersonModel();

    private void HandleValidSubmit()
    {
        // Process the valid form
    }
}